<Heading>Топ мастеров по количеству клиентов</Heading>
<Div Width="Width.Is75.OnTablet.Is75.OnMobile.Is50.OnDesktop.Is33.OnFullHD" Margin="Margin.IsAuto.OnX" Style="height: fit-content">
    <PieChart @ref="@chart" TItem="int" Margin="Margin.Is5.OnY.Is3.OnX"></PieChart>
</Div>

@code {
    PieChart<int> chart;
    List<int> MasterCounts = [];
    List<string> MasterLabels = [];

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        using (var db = new DatabaseContext())
        {
            MasterLabels = db.RenderedServices.GroupBy(rService => rService.Master.User)
            .Select(rServiceByMaster => rServiceByMaster.Key.Name + " " + rServiceByMaster.Key.Surname)
            .ToList();
            MasterCounts = db.RenderedServices.GroupBy(rService => rService.Master)
            .Select(rServiceByMaster => rServiceByMaster.Count())
            .ToList();
        }
        var lineChartDataset = new PieChartDataset<int>()
            {
                Label = "OK",
                Data = MasterCounts,
                BackgroundColor = genColors(MasterCounts.Count),
                BorderWidth = 1
            };
        chart.AddLabelsDatasetsAndUpdate(MasterLabels, lineChartDataset);
        StateHasChanged();
    }
    List<string> genColors(int count)
    {
        List<string> colorList = [];
        for (int i = 0; i < count; i++)
        {
            colorList.Add(hsv2rgb((float)i / (float)count, 0.9f, 0.9f));
        }
        return colorList;
    }
    private ChartColor hsv2rgb(float h, float s, float v)
    {
        Func<float, int> f = delegate (float n)
        {
            float k = (n + h * 6) % 6;
            return (int)((v - (v * s * (Math.Max(0, Math.Min(Math.Min(k, 4 - k), 1))))) * 255);
        };
        return ChartColor.FromRgba((byte)f(5), (byte)f(3), (byte)f(1), 1);
    }
}
