@page "/About"
<Div Padding="Padding.Is5.OnDesktop.Is2.OnMobile">
    <Heading TextSize="TextSize.Heading2">Как это работает?</Heading>
    <Heading TextSize="TextSize.Heading4">Профиль</Heading>
    <UnorderedList>
        <UnorderedListItem>После успешной авторизации, вам станет доступен личный кабинет.</UnorderedListItem>
        <UnorderedListItem>В профиле отобразятся услуги, на которые вы записались.</UnorderedListItem>
    </UnorderedList>
    <Heading TextSize="TextSize.Heading4">Услуги</Heading>
    <OrderedList>
        <OrderedListItem>
            Запишитесь на приём к нашему мастеру. Мы можем потребовать данные вашей банковской карты
        </OrderedListItem>
        <OrderedListItem>
            В указанное время явитесь по адресу парикмахерской. 
        </OrderedListItem>
        <OrderedListItem>
            Дождитесь своей очереди и получите услугу
        </OrderedListItem>
        <OrderedListItem>
            Оставьте отзыв. После этого деньги будут списаны с вашей карты автоматически
        </OrderedListItem>
        <OrderedListItem>
            Если возникнут проблемы с оплатой, с вами свяжется администратор.
        </OrderedListItem>
    </OrderedList>
    

</Div>


@code {

}
