@page "/service_categories"
@page "/"
@using Barbershop.Model.ViewModel
<Layout Background="Background.Dark">
    <Heading Margin="Margin.Is4.FromTop " TextColor="TextColor.Light" TextAlignment="TextAlignment.Center">Услуги</Heading>
    <LayoutContent Flex="Flex.Row.JustifyContent.Center.Wrap.OnMobile.AlignContent.Start" 
        Padding="Padding.Is4.FromBottom">
        <Repeater Items="Categories">
            <Card Background=Background.Dark 
            Height="Height.Is25.OnMobile"
            Width="Width.Is50.OnMobile.Is25.OnDesktop"
            Margin="Margin.Is0.OnMobile.Is5.OnDesktop"
            Padding="Padding.Is0.OnMobile"
                  Position="Position.Relative">
                <CardBody Flex="Flex.JustifyContent.Center.AlignItems.Center"
                          Style="@context.BackgroundImageParameterText" >
                </CardBody>
                <Button TextAlignment="TextAlignment.Center"
                        TextWeight="TextWeight.Bold"
                        TextSize="TextSize.Medium"
                        Color="Color.Light"
                        Style="white-space:nowrap;" Type="ButtonType.Link" To="@context.Link" StretchedLink Clicked="@CardClickedHandler">
                    @context.Name
                </Button>

                </Card>
        </Repeater>
    </LayoutContent>
</Layout>

@code {
    private List<CategoryViewModel> Categories = [];

    protected override void OnParametersSet()
    {
        using (var db = new DatabaseContext())
        {
            // group services by category to get list of Service Categories
            Categories = db.Services.GroupBy(service => service.Category).Select(category => new CategoryViewModel()
            {
                Name = category.Key,
                Link = $"/service/{category.Key}",
                    BackgroundImageParameterText = $"background: url('{category.First().ImageHref}');background-size:cover;background-repeat:no-repeat;background-position:center;"
            }).ToList();
        }
    }

    
    public void CardClickedHandler()
    {
        Console.WriteLine("Clicked card!");
    }
}
